<html>
    <head>
        <title></title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
        <link rel="stylesheet" href="/css/habit.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <main>
         <h1> <%=name%> </h1>
            <%for(let i=1;i<=7;i++){%>
             <div id='row'> 
                <div>
                    <% let m=moment().subtract(i, "days").format("MMMM Do YYYY");%>
                    <%=m%>
                </div>
                
                           <div>
                              <a href="/action/?Date=<%=m%>&action=1&name=<%=name%>"> 1  </a>  
                           </div>
                           <div>
                              <a href="/action/?Date=<%=m%>&action=-1&name=<%=name%>">  -1  </a>
                            </div>
            <%if(Date_map.has(m)){%>
                <div id='Result'>
                   <%if(Date_map.get(m)==1){%>
                    <i class="fa fa-check"></i>
                    <%}else{%>
                        <i class="fa fa-times"></i>
                        <%}%>
                </div>
             <%}else{%>
                <div id='Result'>
                   unmarked
                </div>
                <%}%>
            </div>
            <%}%>
        </main>
        <script src='/js/habit.js'></script>
    </body>
</html>