<html>
    <head>
        <title></title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
        <link rel="stylesheet" href="/css/habit.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <main>
         <nav>
            <h2> <%=name.toUpperCase()%> </h2>
         </nav>
            <%for(let i=0;i<=6;i++){%>
             <div class='row'> 
                <div>
                    <% let m=moment().subtract(i, "days").format("MMMM Do YYYY");%>
                    <%=m%>
                </div>
                      <div class='decision'>
                           <div>
                              <a href="/action/?Date=<%=m%>&action=1&name=<%=name%>"> 
                                <i class="fa fa-check"></i>
                            </a>  
                           </div>
                           <div>
                              <a href="/action/?Date=<%=m%>&action=-1&name=<%=name%>">  
                                <i class="fa fa-times"></i>
                            </a>
                            </div>
                        </div>

            <%if(Date_map.has(m)){%>
                <div id='Result'>
                   <%if(Date_map.get(m)==1){%>
                    <i class="fa fa-check"></i>
                    <%}else{%>
                        <i class="fa fa-times"></i>
                        <%}%>
                </div>
             <%}else{%>
                <div id='Result'>
                    <i class="fa fa-exclamation"></i>
                </div>
                <%}%>
            </div>
            <%}%>
        </main>
        <script src='/js/habit.js'></script>
    </body>
</html>